<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="my-2">Kotrak</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <h5 class="text-muted">Main functionalities:</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">CRUD on users accounts</li>
        <li class="list-group-item">Password generator</li>
        <li class="list-group-item">
          Admin account - privileges to set passwords to other users
        </li>
        <li class="list-group-item">
          displaying weather for users location using external APIs
        </li>
        <li class="list-group-item">PDF generation</li>
        <li class="list-group-item">High aesthetics</li>
      </ul>
    </div>
    <div class="col-md-5">
      <span></span>
      <h5 class="text-muted">Technology stack:</h5>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Angular 7</li>
        <li class="list-group-item">Bootstrap 4</li>
        <li class="list-group-item">npm</li>
        <li class="list-group-item">Firebase</li>
        <li class="list-group-item">DarkSky</li>
        <li class="list-group-item">Mapbox</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr />
      <p class="text-justify"></p>
      Instructions: Login using credentials: [kotrak@kotrak.com  KotrakKotrak2]
      Choose 'Users' on navigation bar and select one of the users. Have fun :)
    </div>
  </div>
</div>
