<div class="container border border-secondary rounded p-3">
  <div class="row" id="weatherComponent">
    <div class="col">
      <div class="row">
        <div class="col">
          <div *ngIf="user; else loading">
            <div class="row">
              <div class="col">
                <h4 class="my-2 text-center">
                  {{ user.firstName + " " + user.lastName }}
                </h4>
                <hr />
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <button
                  type="button"
                  class="btn btn-info btn-block btn-sm"
                  (click)="editUser()"
                >
                  Edit
                </button>
              </div>
              <div class="col-xs-12 col-md-6">
                <button
                  type="button"
                  class="btn btn-danger btn-block btn-sm"
                  (click)="deleteUser()"
                >
                  Delete
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <hr />
                <h5 class="my-2 text-center">
                  Weather:
                  <p>{{ user.city + ", " + user.country }}</p>
                </h5>
                <div class="form-group"></div>

                <input
                  type="text"
                  placeholder="Datepicker"
                  class="form-control"
                  bsDatepicker
                  [bsValue]="bsValue"
                  (bsValueChange)="getWeather($event)"
                  [maxDate]="maxDate"
                  [bsConfig]="{
                    adaptivePosition: true,
                    dateInputFormat: 'YYYY-MM-DD, h:mm:ss'
                  }"
                />

                <span class="d-block my-1"
                  >Temperature: {{ temperature }} °C</span
                >
                <span class="d-block">Humidity: {{ humidity }} %</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="user">
    <div class="col">
        <hr />
      <button
        type="button"
        class="btn btn-info btn-block btn-sm"
        (click)="generatePDF()"
      >
        Generate PDF
      </button>
    </div>
  </div>
</div>
<ng-template #loading>
  <div>Choose user</div>
</ng-template>
